.row
  .col.col-md-3
    %h2(ng-bind="certifications.data.fields['3_LAST_NAME_FIRST_NAME_MIDDLE_NAME_OF_VETERAN']")

  .col.col-md-2
    .media
      .media-body
        .h4 Appeal ID:
        %span(ng-bind="certifications.data.info.bfcorlid")

  .col.col-md-2
    .media
      .media-body
        .h4 Appeal Type:
        %span(ng-bind="certifications.data.info.appeal_type")

  .col.col-md-5
    .media
      .media-body
        .h4 File Type:
        %span(ng-bind="certifications.data.info.file_type")
