.row#certifications-header
  .col.col-md-3
    %h2(ng-bind="certifications.data.fields['3_LAST_NAME_FIRST_NAME_MIDDLE_NAME_OF_VETERAN']")

  .col.col-md-2
    .media
      .media-body
        .h4 Appeal ID:
        %span(ng-bind="certifications.data.info.bfcorlid")

  .col.col-md-2
    .media
      .media-body
        .h4 Appeal Type:
        -# FIXME: Fix after demo
        -#%span(ng-bind="certifications.data.info.appeal_type")
        %span Original

  .col.col-md-2
    .media
      .media-body
        .h4 File Type:
        -# FIXME: Fix after demo
        -#%span(ng-bind="certifications.data.info.file_type")
        %span VBMS

  .col.col-md-3
    .media
      .media-body
        .h4 Attorney:
        %span(ng-bind="certifications.data.fields['8A_APPELLANT_REPRESENTED_IN_THIS_APPEAL_BY']")
