%div#certifications-generate(ng-controller="CertificationsFinishController" ng-init="finish.init()")
  %div{'ng-include' => asset_path('certifications/_header.html').inspect}

  %hr/

  .row
    .col-sm-6.col-sm-offset-3
      %h1 This case has been certified!
      %p This appeal has been sent to the Board of Veteran's Appeals for adjudication.
      %p You can now close this page and open another case in VACOLS.
