%div#certifications-generate(ng-controller="CertificationsGenerateController" ng-init="generate.init()")
  %div{'ng-include' => asset_path('certifications/_header.html').inspect}

  %hr

  .row
    .col.col-md-12
      :markdown
        Download the VA Form 8 and **verify** all the fields are **accurate**.  If the form looks correct, click the **Finish Certification** button to certify and send appeal to the Board of Appeals.

      %hr

  %a(ng-href="/caseflow/files/forms/{{certifications.data.info.file_name}}") Download Complete Form 8

  %hr

  .input-group
    %a.my-form-button(data-label="Go Back" data-icon="chevron-left" ng-href="#/certifications/{{certifications.data.info.bfkey}}/questions")
    &nbsp;
    %button.my-form-button(data-label="Finish Certification" data-icon="chevron-right" data-color="primary" my-form-loading="generate.loading" ng-click="generate.go_to_finish()")
