%div#certifications-start(ng-controller="CertificationsStartController" ng-init="start.init()")
  %div{'ng-include' => asset_path('certifications/_header.html').inspect}

  .row(style="padding-top: 20px")
    .col.col-md-12
      :markdown
        Verify that this appeal is ready for **Certification** and **Dispatch** to the Board of Appeals.

      %hr

  .row
    .col.col-md-6
      .row
        .col.col-md-12
          :markdown
            Dates in **VACOLS**
          %hr

          %dl
            %dt NOD Date:
            %dd(ng-bind="certifications.data.info.bfdnod")

          %dl
            %dt SOC Date:
            %dd(ng-bind="certifications.data.info.bfdsoc")

          %dl(ng-if="certifications.data.info.bfssoc1")
            %dt SSOC1 Date:
            %dd(ng-bind="certifications.data.info.bfssoc1")

          %dl(ng-if="certifications.data.info.bfssoc2")
            %dt SSOC2 Date:
            %dd(ng-bind="certifications.data.info.bfssoc2")

          %dl(ng-if="certifications.data.info.bfssoc3")
            %dt SSOC3 Date:
            %dd(ng-bind="certifications.data.info.bfssoc3")

          %dl(ng-if="certifications.data.info.bfssoc4")
            %dt SSOC4 Date:
            %dd(ng-bind="certifications.data.info.bfssoc4")

          %dl(ng-if="certifications.data.info.bfssoc5")
            %dt SSOC5 Date:
            %dd(ng-bind="certifications.data.info.bfssoc5")

          %dl
            %dt Form 9 Date:
            %dd(ng-bind="certifications.data.info.bfd19")

    .col.col-md-6
      .row
        .col.col-md-12
          :markdown
            Documents found in **VBMS**
          %hr

          %dl
            %dt NOD Date:
            %dd
              %strong NO DATA

          %dl
            %dt SOC Date:
            %dd
              %strong NO DATA

          %dl(ng-if="certifications.data.info.bfssoc1")
            %dt SSOC1 Date:
            %dd
              %strong NO DATA

          %dl(ng-if="certifications.data.info.bfssoc2")
            %dt SSOC2 Date:
            %dd
              %strong NO DATA

          %dl(ng-if="certifications.data.info.bfssoc3")
            %dt SSOC3 Date:
            %dd
              %strong NO DATA

          %dl(ng-if="certifications.data.info.bfssoc4")
            %dt SSOC4 Date:
            %dd
              %strong NO DATA

          %dl(ng-if="certifications.data.info.bfssoc5")
            %dt SSOC5 Date:
            %dd
              %strong NO DATA

          %dl
            %dt Form 9 Date:
            %dd
              %strong NO DATA

  %hr

  .input-group
    %a.my-form-button(data-label="Go Back" data-icon="chevron-left" href="#/certifications")
    &nbsp;
    %a.my-form-button(data-label="Continue" data-icon="chevron-right" data-color="primary" ng-href="#/certifications/{{certifications.data.info.bfkey}}/questions")


