# For local development
default: &default
  adapter: sqlite3
  database: caseflow_test.db
  pool: 5
  timeout: 5000

# For connecting to the DEV VACOLS Database
#default: &default
#  adapter: jdbc
#  username: **USER**
#  password: **PASSWORD**
#  driver: oracle.jdbc.driver.OracleDriver
#  url: **JDBC URL***

development:
  <<: *default

test:
  <<: *default