//= require bootstrap
//= require bootstrap-sprockets

//= require font-awesome

//= require_tree .
//= require_self

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline {
  display: inline;
}

.full-width {
  width: 100%;
}d

.border-bottom {
  padding-bottom: 9px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.hidden {
  display: none;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
  right: 0px;
}

.success {
  color: #009245;
}

.error {
  color: #c1272d;
}

label {
  font-weight: normal !important;
}
