//= require_tree .
//= require_self

body {
  padding-bottom: 70px;
}

.border-bottom {
  padding-bottom: 9px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #eee;
}

.hidden {
  display: none;
}

.success {
  color: #009245;
}

.error {
  color: #c1272d;
}

label {
  font-weight: normal !important;
}

.document-table {
  padding-top: 20px;
}

.instructions {
  padding-top: 20px;
}

.popover {
  max-width: 1000px;
  max-height: 1000px;
}

.navbar-default {
  background-color: #ffffff;

  .navbar-brand, .navbar-brand:hover, .navbar-nav>li>a, {
    color: #000000;
  }
}

.embedded-document {
  width: 100%;
  height: 80vh;
}

.col-no-right-pad>.col {
  padding-right: 0px;
}

.pilot-warning {
  width: 100%;
  padding: 8px 20px 8px;
  box-sizing: border-box;
  text-align: center;
  background-color: #4d92df;
  color: #ffffff;
}

/* Login view */
#login-login-button {
  padding-top: 1em;
}

/* Grid sizes can be found on http://getbootstrap.com/css/ */
@media (min-width: 970px) {

  /* When we're medium and large, lets set a border on the left side
   * of the login form column and pad it out to give it a bit of room. */
  #login-login-form {
    border-left: 1px solid #DCDCDC;
    padding-left: 3em;
  }
}
