<% content_for :page_title do %>Not found<% end %>

<% content_for :content do %>
<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-success cf-msg-screen-heading">Page not found</h1>
  <h2 class="cf-msg-screen-deck">Oops! It looks like the page you're looking for does not exist</h2>
  <p class="cf-text-center">You might want to double check the URL for errors.</p>
</div>
<% end %>
