<% content_for :page_title do %>Not found<% end %>

<div id="certifications-error">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>No appeal selected</h1>
      <p>
        Use VACOLS to update an eFolder appeal and click the <strong>Complete
        Form 8</strong> button to open it in Caseflow.
      </p>
    </div>
  </div>
</div>
