<%

modal_locals = {
    modal_id: 'confirm-cancel-certification',
    modal_title: 'Cancel certification?',
    modal_text: "Are you sure you can't certify this case? Any changes you made in Caseflow will not be saved and the certification date will not be set in VACOLS.",
    modal_html: %Q{<div class="cf-push-row cf-modal-controls">
        <button type="button" class="usa-button-outline cf-action-close cf-push-left" data-controls="#confirm-cancel-certification">Go back</button>
        <a href="#{url_for(controller: 'web', action: 'error')}" class="cf-push-right cf-btn-faux cf-btn-faux--secondary" autofocus>Yes, I\'m sure</a>
    </div>},
}

%>

<%= render partial: 'modal', locals: modal_locals %>
