<%#
    Partial requires the following variables:
    - text: A string
%>

<a role="button" tabindex="0" type="button" class="btn btn-link btn-xs" data-container="body" data-toggle="popover" data-placement="bottom" data-content='<%= text %>' aria-label='<%= text %>'>
  <span class="glyphicon glyphicon-question-sign"></span>
</a>
