!!!
%html(ng-app="application")
  %head
    %title CaseFlow

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body(ng-controller="AppController")
    .container
      %nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container-fluid
          .navbar-header
            %a.navbar-brand(href=root_path)
              %span.glyphicon.glyphicon-tasks
              CaseFlow

          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              %my-navigation-link(data-label="Certification" data-icon="certificate" data-href="/certifications")

      %div(ng-view)
