<% content_for :page_title do %>Case Certified<% end %>

<div id="certifications-generate" class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
  <h1 class="cf-success cf-msg-screen-heading">Congratulations!</h1>
  <h2 class="cf-msg-screen-deck">The case has been certified.</h2>
  <ul class="cf-list-checklist">
      <li><i class="cf-icon-success--bg"></i> Verified documents were in eFolder</li>
      <li><i class="cf-icon-success--bg cf-success"></i> Completed and uploaded Form 8</li>
     <!-- <li><i class="cf-icon-success--bg cf-success"></i> Dispatched the appeal to <abbr title="Board of Veteran's Appeals">BVA</abbr></li> -->
  </ul>

  <p class="cf-text-center">Way to go! You can now close this browser window and open another case in VACOLS.</p>
</div>
