<% content_for :page_title do %>Not Certified<% end %>

<div id="certifications-error" class="usa-cf_app-segment usa-cf_app-segment--alt">
    <h1>This case was not certified</h1>
    <p>Certification date was not set and any changes you made were not saved.</p>
    <p>You can close this page and open another case in VACOLS.</p>
</div>
