<% content_for :page_title do %>Not Certified<% end %>

<div id="certifications-error" class="usa-cf_app-segment usa-cf_app-segment--alt">
    <h1>This case has not been certified!</h1>
    <p>The AOJ will be notified and asked to follow up with the Veteran.</p>
    <p>You can now close this page and open another case in VACOLS.</p>
</div>
