<div id="certifications-error">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>This case has not been certified!</h1>
      <p>The AOJ will be notified and asked to follow up with the Veteran.</p>
      <p>You can now close this page and open another case in VACOLS.</p>
    </div>
  </div>
</div>
