<div id="certifications-generate">
  <div class="row">
    <div class="col col-md-10 col-md-offset-1">
      <h2>Review Form 8 Before Upload</h2>
      <p>
        Review the completed Form 8 below and verify all fields are accurate.
        If the form looks correct, click the <strong>Upload and Certify</strong>
        button and the Form 8 will automatically be uploaded to VBMS. If there
        are any mistakes, <a onlick="window.history.back();">go back the errors</a>.
      </p>
      <hr/>

      <embed class="embedded-document" src="/caseflow/files/forms/<%= @file_name %>"></embed>

      <hr/>

    </div>
  </div>
  <div class="row">
    <div class="col col-md-10 col-md-offset-1">
      <%= form_tag({action: :certify}) do %>
        <input type="hidden" value="<%= @file_name %>" name="file_name"/>
        <input type="hidden" value="<%= @certification_date %>" name="certification_date"/>
        <a href="#">Go back to fix an error</a>
        <input type="submit" value="Upload and Certify" class="btn btn-primary pull-right"/>
      <% end %>
    </div>
  </div>
</div>
