<% content_for :page_title do %>Case Not Ready<% end %>

<div id="certifications-error">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% if @reason == :not_ready %>
        <h1>Not ready!</h1>
        <p>This case is not ready ready for certification!</p>
      <% elsif @reason == :paper %>
        <h1>Paper cases not supported!</h1>
        <p>Caseflow cannot be used for Paper or Virtual VA cases</p>
      <% end %>
    </div>
  </div>
</div>
