<div id="certifications-error">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% if @kase.bf41stat %>
        <h1>Already certified!</h1>
        <p>This case has already been certified!</p>
      <% else %>
        <h1>Not ready!</h1>
        <p>This case is not ready ready for certification!</p>
      <% end %>
    </div>
  </div>
</div>
