<% content_for :page_title do %>Case Not found<% end %>

<div id="certifications-error">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Case not found</h1>
      <p>There is no case in VACOLS with the ID you provided.</p>
    </div>
  </div>
</div>
