<% content_for :page_title do %>Unauthorized<% end %>

<div id="certifications-error">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Unauthorized</h1>
      <p>This veteran is not within your Regional Office's jurisdiction.</p>
    </div>
  </div>
</div>
