<% content_for :page_title do %>Help &amp; FAQ<% end %>

<% content_for :content do %>
<%#
DON'T FORGET TO UPDATE THE data-last-updated ATTRIBUTE.
%>
<div id="updates-page" data-last-updated="2016-01-27" class="cf-app-segment cf-app-segment--alt">
    <h1>What&#8217;s New?</h1>
</div>
<% end %>
