<%#
    VBMS sometimes fails to reply to us. So, we'll go ahead and tell the
    user we can't do anything on their behalf.

    Also, a link to refresh the page.
%>
<% content_for :page_title do %>VBMS Error<% end %>

<div class="cf-app-msg-screen cf-app-segment cf-app-segment--alt">
    <h1 class="cf-msg-screen-heading">VBMS Failure</h1>
    <h2 class="cf-msg-screen-deck">The VBMS system is not replying to requests</h2>


    <p class="cf-text-center">We're unable to
     check on the status of the files for this case in VBMS. Please
     give VBMS a few moments to come back online, and
     <a href="<%= url_for :controller => 'web', :action => 'start' %>">Restart the certification process</a>.
    </p>
</div>
